@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Ysabeau:wght@100&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   background-color: #4b515c;
}

body {
    font-family: Arapey, sans-serif;
    font-weight: 300;
    color: white;
}

/* headings and logo */

h1, h3, h4 {
    font-family: Ysabeau, sans-serif;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

 #logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 25px;
    font-size: 17px;
    font-family: Arapey, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

#logo em {
    color: rgb(197, 171, 116);
    font-family: Arapey, sans-serif;
}

/* navigation links */

#menu {
    letter-spacing: 3px;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
}

#menu li {
    display: inline-flex;
    justify-content: center;
    padding: 7px;
    line-height: 60px;
    list-style-type: none;
}

#menu li a {
    
    text-decoration: none;
    color: white;
    font-size: 16px; 
}

#menu a:hover{
    text-decoration: underline;
    color: rgb(197, 171, 116);
}

/* cover text */

#hero-outer {
    height: 70vh;
    width: 100%;
}

#cover-text {
    padding-top: 150px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    font-size: 0.80rem;
    font-family: Arapey, sans-serif;
}

h3 {
    padding-bottom: 20px;
    font-size: 20px;
    color: rgb(197, 171, 116);
}


h4 {
    padding-bottom: 10px;
}

#cover-text a {
    position: relative;
    color: #333e52;
    background-color: rgb(197, 171, 116);
    padding: 15px;
    top: 40px;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;
    transition: .2s ease background-color;
    border-radius: 1.5rem;
    transition-property: background-color;
 }

#cover-text a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}



/*                        media queries                      */
       

    

    /* Responsiveness screen sizes from 490px wide and up */
    @media screen and (min-width: 490px) {

        #logo {
            float: left;
          }
        
          #menu {
            background-color: rgba(0, 0, 0, 0.377);
        }
        
          #menu li {
            float: right;
            line-height: 55px;
          }
        
          #cover-text {
            padding-top: 250px;
          }
        }

              /* Responsiveness screen sizes from 570px wide and up */
@media screen and (min-width: 570px) {

    #logo {
        font-size: 20px;
    }

    #menu li {
        padding: 12px;
        font-size: 30px;
        line-height: 50px;
    }

    #menu li a {
        font-size: 19px;
    }
}

  /* Responsiveness screen sizes from 800px wide and up */
  @media screen and (min-width: 800px) {

    #menu li {
        padding: 30px;
        line-height: 20px;
    }

    #cover-text {
        font-size: 15px;
    }
     h3 {
        font-size: 25px;
     }
    }